* {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 24px;
}

body{
  background-image: url(planets-in-the-night-sky-25818-1920x1080.jpg);
}
p{
  font-size: 200%;
}

.header{
  padding-left: 2%;
  padding-bottom: 2%;
}

.box{
    float:left;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.inner_box{
  /* padding: 10%; */
  min-height: 500px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.gray_back{
  background: rgba(89,89,89,.5)
}

h4{
  padding-top: 2%;
  font-size: 300%;
  z-index: 2;
}

ul, ol {
  margin:0 0 0 10%;
  font-size: 20px;
  padding: 2%;
}

.icon{
  top: 100%;
  content:"";
  position:relative;
  border-radius:50%;
  z-index: 2;
  height:100px;
  width:100px;
  margin:auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.rounded_img{
  width: 10%;
  height: 10%;
  border-radius: 25%;
}
