/*
 * MyBB: FA5Dark Frontend Theme 
 *
 * File: color_night.css
 * 
 * Author: Vintagedaddyo
 *
 * MyBB Version: 1.8
 *
 * Theme Version: 1.0
 * 
 */

/** Checkboxes **/ 

input[type=checkbox]:after, input[type=radio]:after {
    color: #202020;
}

input[type=radio]:checked:after {
    color: #A0A0A0;
}

input[type=checkbox]:checked:before {
    color: #A0A0A0;
}

/** Login **/

input#quick_login_username:focus, input#quick_login_password:focus {
	border-color: #A0A0A0;
	-webkit-box-shadow: inset 0 1px 1px rgb(160,160,160), 0 0 8px rgba(160,160,160, 0.8);
	box-shadow: inset 0 1px 1px rgba(160,160,160, 0.8), 0 0 8px rgba(160,160,160, 0.8);
}

input.login {
	border: 5px solid #A0A0A0;

}

input.login:hover {
	background: #A0A0A0;
}

i.lostpwd {
   color: #A0A0A0;
}

i.printer {
	color: #fff;
}

i.sendto {
	color: #fff;
}

.tfoot a:hover, .tfoot a:active {
	color: #A0A0A0;
	text-decoration: underline;
}

ul.thread_tools li.printable:after {
	color: #A0A0A0  !important;
}

ul.thread_tools li.sendthread:after {
	color: #A0A0A0  !important;
}

ul.thread_tools li.subscription_add:after {
	color: #A0A0A0  !important;
}

ul.thread_tools li.subscription_remove:after {
	color: #A0A0A0  !important;
}

ul.thread_tools li.poll:after {
	color: #A0A0A0  !important;
}

.trow1 a:hover, .trow1 a:active {
	color: #A0A0A0  !important;
}

.trow2 a:hover, .trow2 a:active {
	color: #A0A0A0  !important;
}

.usercp_nav_item::before {
	color: #A0A0A0  !important;
}

.modcp_nav_item:before{
    color: #A0A0A0  !important;
}

i.toplinks-portal {
	color: #FFFFFF !important;
}

i.toplinks-search {
	color: #FFFFFF !important;
}

i.toplinks-memberlist {
	color: #FFFFFF !important;
}

i.toplinks-calendar {
	color: #FFFFFF !important;
}

i.toplinks-help {
	color: #FFFFFF !important;
}

i.panel-register {
	color: #98C78B !important;
}

i.panel-login {
	color: #C49A38 !important;
}

i.panel-logout {
	color: #98C78B !important;
}

i.panel-usercp {
	color: #A0A0A0  !important;
}

i.panel-modcp {
	color: #A0A0A0  !important;
}

i.panel-admincp {
	color: #A0A0A0  !important;
}

.sharethread a:link {
	color: #023a61 !important;
}

.sharethread a:visited {
	color: #023a61 !important;
}

.sharethread a:hover,
.sharethread a:active {
	color: #333 !important;
}

.progress_bar {
	border: 1px solid #022338 !important;
}

.progress {
	background: #022338 url(../../../themes/FA5Dark/colors/night_thead.png) center repeat-x !important;
}

#backtop a:link {
	color: #023a61 !important;
	text-decoration: none;
}

#backtop a:visited {
	color: #023a61 !important;
	text-decoration: none;
}

#backtop a:hover, a:active {
	color: #A0A0A0 !important;
	text-decoration: underline;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #023a61;
}

#logo {
	background: #022338 url(../../../themes/FA5Dark/colors/night_header.png) top left repeat-x;
	border-bottom: 1px solid #011929;
}

#header ul.menu li a {
	color: #fff;
}

#panel input.button {
	background: #022338 url(../../../themes/FA5Dark/colors/night_thead.png) top left repeat-x;
}

#panel .lower ul.user_links li a:hover {
   color: #022338;
}

.forum_on {
color: #A0A0A0;
}

.subforum_minion {
	color: #A0A0A0;
}

.thead {
	background: #022338 url(../../../themes/FA5Dark/colors/night_thead.png) top left repeat-x;
	border-bottom: 1px solid #011929;
}

.thead input.textbox,
.thead select {
	border: 1px solid #011929;
}

.popup_menu .popup_item:hover {
	background: #023a61;
	color: #fff;
}

.tt-suggestion.tt-is-under-cursor {
    background-color: #023a61;
	color: #fff;
}

.pagination a:hover {
	background-color: #023a61;
	color: #fff;
	border-color: #011929;
}


		
		
		
		